      .input {
     position: relative;
    }
    .input input:focus {
      outline: none;
    }
    .input .text {
      font: 12px/16px 'Helvetica Neue', Arial, sans-serif;
      position: absolute;
      top: 50%;
      left: 15px;
      margin-top: -8px;
      color: gray;
      background-color: inherit;
      transition: all .1s linear;
      pointer-events: none;
    }
    .input input:focus + .text, .input input:not(:invalid) + .text {
      color: grey;
      top: 0%;
      margin-top: -8px;
      background: white;
      padding-right: 2px; padding-left: 2px;
      font-size: 10px;
      font-weight: 400;
    }
    .input textarea:focus + .text, .input textarea:not(:invalid) + .text {
      color: grey;
      top: 0%;
      margin-top: -8px;
      background: white;
      padding-right: 2px; padding-left: 2px;
      font-size: 10px;
      font-weight: 400;
    }
    .input input:focus + .text {
      color: #2196F3;
      font-weight: bold;
    }
    .input textarea:focus + .text {
      color: #2196F3;
      font-weight: bold;
    }