  .jdfooter hr {margin-top: 0; margin-bottom: 0;}
  .thum {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .7s;
  }

  .thum.muncul {
    opacity: 1;
    transform: translate(0,0);
  }
  *{font-family: roboto, calibri, Helvetica, roboto;}
    section {
      min-height: 400px;
    }
    .animasi-teks {
      font-size: 29px;
      width: 100%;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: typing 5s steps(70, end);
      animation: animasi-ketik 5s steps(70, end);
    }

    @keyframes animasi-ketik{
      from { width: 0; }
    }

    @-webkit-keyframes animasi-ketik{
      from { width: 0; }
    }

    #navbar .aku a:hover {
        color: grey;
      }

      .about hr {
          width: 250px;
          margin-top: 0px;
        }
    .slider .carousel-caption {top :0; margin-top: 230px; text-align: left; left: 10%; width: 65%;}
    .slider .carousel-caption h2, .carousel-caption h1 {
        margin-top: 0px;
        font-family: roboto;
      }
      .efek {
        opacity: 0;
        transition: 1s;
        transform: translate(0,0);
      }
      .efek.jalan {
        opacity: 1;
        transform: translate(0,0);
      }
      .pkiri {
          opacity: 0;
          transform: translate(-50px, 0);
          transition: 2s;
        }
        .pkanan {
            transform: translate(50px, 0);
            opacity: 0;
            transition: 2s;
          }
          .pkiri.pmuncul, .pkanan.pmuncul {
            opacity: 1;
            transform: translate(0,0);
          }
        .slider{
            box-shadow: 1px 1px 10px silver;
            z-index: -99;
        }
        .navku {
          box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
          z-index: 100;
        }
        .navku span:hover {color: #2196F3; display: block;}

        .isi {
          background: rgb(249, 249, 249);
        }
        .isi span {font-size: 75px;}
        .isi {margin-bottom: 210px;}
        .link a {text-decoration: none; color: rgb(51, 122, 183); font-family: reg-roboto;}
        .navbar-brand {padding: 0; padding-left: 10px;}
        .copy {
          line-height: 40px;
          background: #252525;
        }
        .copy a {font-family: reg-roboto;}



/*css halaman pendaftaran*/

        .daftar {
          background: white;
          border: 1px solid rgb(218, 220, 224);
          margin: auto;
          margin-top: 50px;
          border-radius: 5px;
          box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
          padding-bottom: 40px; 
          padding-top: 15px;
          padding-right: 30px;
          padding-left: 30px;

        }
        .subjudul h1 {margin-top: 15px;}
        .daftar h3 span {color: grey; font-size: 18px;}

        .lnk a {color: grey; text-decoration: none;}